/* to override the elements given by the browser */
*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #2D2727;
  --secondary-color: #413543;
  --third-color: #8F43EE;
  --attention-color: #F0EB8D;
}

/*  */
.main-container{
  /* border: 2px solid black; */
  min-height: 100vh;
  background-color: var(--primary-color);
}

.box-container{
  /* border: 2px solid var(--secondary-color); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
h1{
  color: var(--attention-color);
}
.box-align{
  display: flex;
  margin-top: 2rem;
}
/* to select all the boxes */
.box-1,.box-2,.box-3,.box-4,.box-4,.box-5{
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  /* border: 1px solid red; */
  border: 2px solid var(--secondary-color);
  margin: 2rem;
  color: white;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

/* for plusing effect */
.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
